.charts-container {
    display: flex;
    width: 100%;
    flex: 0.75;
    height: 500px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
.charts_card {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;

}
.charts_card-probe-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--secondary);
    padding: 12px;
    flex: 0.2;
    margin-left: 8px;
    min-width: 100px;
    border-radius: 5px;
}
.charts_card-probe-title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--slight-info);
    font-size: 45px;
    padding: 4px;
    margin: 0px;
    border-bottom: 1px solid var(--text1)
}
.charts_card-probe-details-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.charts_card-probe-details-body_title {
    font-size: 24px;
    margin-right: 12px;
    color: var(--info);
}

.charts_card-probe-details-body_data {
    padding: 12px;
    background: var(--slight-info);
    border-radius: 12px;
    font-size: 26px;
    color: var(--text1);
    width: 50%;
    margin:0;
}



.charts_card-canvas-container {
    display: flex;
    flex: 1;
    flex: 0.5;
    align-items: center;
    justify-content: center;
}

.charts_card-plot {
    display: flex;
    flex: .25;
}

/* .chart-mini-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}
.chart-major-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    max-height: 100%;
    width: 100%;
    align-self: center;
    justify-content: center;
} */


/***** Data Table */
.charts_card-data-table-container {
    display: flex;
    flex: 0.25;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}
.charts_card-data-table th {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 8px;
}


