.chart-container {
    display: flex;
    width: 100%;
    flex: 0.75;
    /* height: 500px; */
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
.chart-mini-container {
    display: flex;
    flex-direction: row;
    flex: 0.5;
    max-height: 50%;
    margin-top: 24px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}
.chart-major-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    max-height: 100%;
    width: 100%;
    align-self: center;
    justify-content: center;
}
.subplot {
    display: flex;
    flex: .25;
}