/**** Controls */
.controls-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
    background-color: var(--primary);
    align-items: center;
    width: 100%;
}

/**** Timer Controls */
.controls_timer-container {
    display: flex;
    justify-content: center;
    flex: 0.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controls_timer-subcontainer {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.controls_timer-title {
    font-size: 1em;
    flex: 0.5;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls_timer-options {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid var(--text1);
    border-radius: 5px;
    background: var(--text1);
}

.controls_timer-trigger {
    width: 250px;
    height: 50px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
}
.controls_timer-options {
    flex: 1;
    height: 50px;
    margin-top: 12px;
    border-radius: 5px;
}

.controls-details {
    display: flex;
    flex-direction: row;
    margin-left: 12px;
    justify-content: center;
    min-width: 250px;
    flex: 1;
}


.controls-container_trigger-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.controls_reset-trigger {
    width: 250px;
    height: 50px;
    background-color: var(--info);
    color: var(--primary);
    border-radius: 5px;
}

.trigger {
    width: 100px;
    height: 50px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    margin-right: 12px;
}
.trigger:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.controls_timer-next-refresh {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 12PX;
}


.controls_temperature-sensor_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.temp-sensor-data {
    background-color: var(--secondary);
    width: 200px;
    height: 100%;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: var(--info);
    border-radius: 12px;
}