/***** Data Table */
.charts_card-data-table-container {
    display: flex;
    flex: 0.25;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;

}
.charts_card-data-table th {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 8px;
}

.smallDelta {
background-color: #FECDA6;
}
.midDelta {
    background-color: #FF9130;
}
.largeDelta {
    background-color: #FF5B22;
}
.targetReached {
    background-color: #86A789;
}
.table_alignment {
    padding: 12px;
}