{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="error-container">
        <p class="error-details">Test Errors</p>
    </div>
    <div class="main-container">
        <div class="controls-container">
            <div class="controls_timer-container">
                    <div class="controls_timer-subcontainer">
                        <span class="controls_timer-title"> Refresh Rate (Seconds)</span>
                        <select id="controls_timer-options" class="controls_timer-options">
                            <option value="1" selected>1</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="60">60</option>
                            <option value="300">300</option>
                        </select>
                        <div class="controls_timer-next-refresh">
                            <p> Next Refresh in: <span class="next-refresh"></span></p>
                        </div>
                    </div>
                    <div class="controls-container_trigger-container">
                        <button class="controls_timer-trigger trigger">Activate</button>
                        <button class="controls_reset-trigger trigger"> Reset </button>
                        <button class="controls_print-trigger trigger"> Print</button>
                    </div>
            </div>
            <div class="controls_temperature-sensor_container">
                <p> Ambient Temperature</p>
                <p class="temp-sensor-data"> {{control.data | last }} &#8457</p>
            </div>

        </div>
        <div class="charts-container">
                {% if probes %}
                    {% for probe in probes %}
                        <div class="charts_card" id="charts_card-{{probe.id}}">
                            <div class="charts_card-probe-details">
                                <p class="charts_card-probe-title">{{probe.label}}</p>
                                <div class="charts_card-probe-details-body">
                                    <p class="charts_card-probe-details-body_title">
                                        Initial Temperature
                                    </p>
                                    <p class="{{probe.id}} {{probe.id}}_initialTemp charts_card-probe-details-body_data">
                                        {{probe.initialTemp}} &#8457;
                                    </p>
                                </div>
                                <div class="charts_card-probe-details-body">
                                    <p class="charts_card-probe-details-body_title">
                                        Current Temperature
                                    </p>
                                    <p class="{{probe.id}} {{probe.id}}_currentTemp charts_card-probe-details-body_data">
                                        {{probe.currentTemp}} &#8457;
                                    </p>
                                </div>
                                <div class="charts_card-probe-details-body">
                                    <p class="charts_card-probe-details-body_title">
                                        Delta
                                    </p>
                                    <p class=" {{probe.id}}_currentDelta charts_card-probe-details-body_data">
                                        {{probe.currentDelta}} &#8457
                                    </p>
                                </div>
                                <div class="charts_card-probe-details-body">
                                    <p class="charts_card-probe-details-body_title">
                                        Elapsed (Minutes)
                                    </p>
                                    <p class=" {{probe.id}}_elapsed charts_card-probe-details-body_data">
                                        {{probe.elapsed}}
                                    </p>
                                </div>
                            </div>
                            <div class="charts_card-canvas-container">
                                <canvas id="plot-{{probe.id}}" class="charts_card-plots"></canvas>
                            </div>
                            <div class="charts_card-data-table-container">
                                <table class="charts_card-data-table" id="table-{{probe.id}}">
                                    <thead>
                                        <th>Timestamp</th>
                                            <th>Temperature</th>
                                            <th>Delta</th>
                                            <th>Delta %</th>
                                        </th>
                                        <tbody>

                                        </tbody>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                {% endif %}
            <!-- <div class="chart-major-container">
                <canvas id="plots"></canvas>
            </div> -->
        </div>
    </div>
{% endblock %}
