{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="container">
        <div class="controls-container">
            <div class="controls">
                <button id="control-trigger">Activate</button>
                <div class="control-timer-container">
                    <span> Refresh Rate (Seconds)</span>
                    <select id="control-timer" class="control-timer">
                        <option value="1sec" selected>1</option>
                        <option value="5sec">5</option>
                        <option value="10sec">10</option>
                        <option value="1min"> 60</option>
                        <option value="5min">300</option>
                    </select>
                </div>
            </div>
            <!-- <div class="controls-details">
                {% if probes %}
                    {% for probe in probes %}
                        <div class="controls-probe">
                            <p class="probe-title">{{probe.label}}</p>
                            <p class="{{probe.id}} probe-temp">{{probe.currentTemp}} &#8457;</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>  -->
        </div>
        <div class="chart-container">
                {% if probes %}
                    {% for probe in probes %}
                        <div class="chart-card">
                            <div class="controls-probe">
                                <p class="probe-title">{{probe.label}}</p>
                                <p class="{{probe.id}} probe-temp">{{probe.currentTemp}} &#8457;</p>
                            </div>
                            <div class="canvas-container">
                                <canvas id="plot-{{probe.id}}" class="subplot"></canvas>
                            </div>
                            <div class="data-table-container">
                                <table class="data-table">
                                    <tr>
                                        <th>Timestamp</th>
                                            <th>Temperature</th>
                                            <th>Delta</th>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                {% endif %}
            <!-- <div class="chart-major-container">
                <canvas id="plots"></canvas>
            </div> -->
        </div>
    </div>
{% endblock %}
